image: google/cloud-sdk:latest

variables:
  PROJECT_ID: bankprediction-kubernetis # project id
  CLUSTER_NAME: "bankprediction-2" # cluster name 1
  CLUSTER_ZONE: us-central1-a  #  us-central1-a
  GCR_HOSTNAME: gcr.io # Google Container Registry hostname
  KUBE_NAMESPACE: default # Kubernetes namespace
  ENV_API_NAME: "api-2.4" # API version change when we add some new features
  ENV_ST_NAME: "streamlit-2.4" # Streamlit version change when we add some new features
  IMAGE_NAME_FS: "fastapi" #  FastAPI image name
  IMAGE_NAME_ST: "streamlit" # Streamlit image name 
  ARTIFACT_REPO: "bankprediction-kubernetis" # Artifact Registry repository name 

stages:
  - build # build stage
  - deploy # staging deploy stage

deploy_staging:
  stage: deploy # stage name
  environment: staging # testing git pull
  only:
    - main
  script:
  #stage: deploy   # stage name 
  #environment: staging # environment name 
  #only:
  #  - main
  - cp $jsonkeygcp /tmp/service-acct.json # used for authentication
  - gcloud auth activate-service-account --key-file=/tmp/service-acct.json #Used for authentication
  - gcloud config set project $projectname # for project id
  - gcloud builds submit  --config=cloudbuild.yaml --substitutions=_PROJECT_ID=$projectname,_ARTIFACT_REPO=$ARTIFACT_REPO,_ENV_API_NAME=$ENV_API_NAME,_ENV_ST_NAME=$ENV_ST_NAME,_IMAGE_NAME_FS=$IMAGE_NAME_FS,_IMAGE_NAME_ST=$IMAGE_NAME_ST .
 

# build_fastapi:
#   stage: build
#   script:
#     - cd API
#     - docker build -t "us-central1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REPO/$IMAGE_NAME_ST:$ENV_ST_NAME" . # build the docker image
#     - docker push "us-central1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REPO/$IMAGE_NAME_ST:$ENV_ST_NAME"
#   only:
#     - main # added only main branch

# build_streamlit:
#   stage: build
#     script:
#       - cd streamlit_app
#       - docker build -t $GCR_HOSTNAME/$PROJECT_ID/streamlit-app:$CI_COMMIT_SHORT_SHA .
#       - docker push $GCR_HOSTNAME/$PROJECT_ID/streamlit-app:$CI_COMMIT_SHORT_SHA
#     only:
#       - main
  
  
  
  

  