findspark
jupyter
scikit-learn
fastapi==0.104.1
pandas
xgboost
optuna
mlflow
numpy
matplotlib
seaborn
uvicorn
python-multipart
pydentic
imblearn
pyspark
optuna-integration
joblib
ydata_profiling
gradio
catboost